# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/

# Virtual environment
venv/
env/
.venv/
.env/

# Python environment variables and secrets
*.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Celery beat schedule file
celerybeat-schedule

# Docker
*.log
docker-compose.override.yml

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Local data folder (like CSV files)
data/

# Logs
logs/
*.log

# Miscellaneous
*.DS_Store
*.swp
